---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />
    <script src="/assets/js/form-date.js"></script>

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <section id="contact-2251">
        <div class="cs-container">
            <!--Copy and paste any iframe from Google Maps-->
            <!-- Google Calendar Appointment Scheduling begin -->
            <iframe
                src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FLos_Angeles&showPrint=0&src=cGF5dG9uX2NoZXJ0dWRlQHdlc3Rjb2FzdHdlYmRlc2lnbnMuY29t&color=%23039BE5"
                style="border:solid 1px #777"
                width="800"
                height="600"
                frameborder="0"
                scrolling="no"
            ></iframe>
            <!-- end Google Calendar Appointment Scheduling -->
            <div class="cs-wrapper">
                <div class="cs-content">
                    <span class="cs-topper">Contact Us</span>
                    <h2 class="cs-title">
                        Let’s Capture The Celebration of True Love
                    </h2>
                    <p class="cs-text">
                        We have courses on-demand and live instructors for
                        workshops and support. We also provide LIVE
                        instructor-led training courses and onsite training.
                    </p>
                </div>
                <form
                    class="cs-form"
                    id="cs-form-2147-2251"
                    name="Contact Form"
                    method="post"
                    netlify
                >
                    <label class="cs-label">
                        <input
                            class="cs-input"
                            required
                            type="text"
                            id="name-2147-2251"
                            name="name"
                            placeholder="Name"
                        />
                    </label>
                    <label class="cs-label">
                        <input
                            class="cs-input"
                            required
                            type="email"
                            id="email-2147-2251"
                            name="email"
                            placeholder="Email"
                        />
                    </label>
                    <label class="cs-label">
                        <input
                            class="cs-input"
                            type="tel"
                            id="phone-2147-2251"
                            name="phone"
                            placeholder="Phone"
                        />
                    </label>
                    <label class="cs-label">
                        <select
                            class="cs-select"
                            name="class"
                            id="classes-2147-2251"
                            placeholder="Services"
                        >
                            <option value="Service 1">Services</option>
                            <option value="Service 2">Services</option>
                            <option value="Service 3">Services</option>
                            <option value="Service 4">Services</option>
                        </select>
                    </label>
                    <div class="cs-date-input-container" id="date-input-container">

                        <fieldset class="cs-date-input-group">
                            <label class="cs-label">
                                <input
                                    class="cs-input"
                                    type="date"
                                    id="date-2147-2251"
                                    name="date-1"
                                    placeholder="Date"
                                />
                            </label>
                            <label class="cs-label">
                                <select
                                    class="cs-select"
                                    type="time"
                                    id="time-2147-2251"
                                    name="time-1"
                                    placeholder="Time"
                                >
                                    <option value="morning">Morning</option>
                                    <option value="afternoon">Afternoon</option>
                            </select>
                        </fieldset>
                        <fieldset class="cs-date-input-group">
                            <label class="cs-label">
                                <input
                                    class="cs-input"
                                    type="date"
                                    id="date-2147-2251"
                                    name="date-2"
                                    placeholder="Date"
                                />
                            </label>
                            <label class="cs-label">
                                <select
                                    class="cs-select"
                                    type="time"
                                    id="time-2147-2251"
                                    name="time-2"
                                    placeholder="Time"
                                >
                                    <option value="morning">Morning</option>
                                    <option value="afternoon">Afternoon</option>
                            </select>
                        </fieldset>
                        <fieldset class="cs-date-input-group">
                            <label class="cs-label">
                                <input
                                    class="cs-input"
                                    type="date"
                                    id="date-2147-2251"
                                    name="date-3"
                                    placeholder="Date"
                                />
                            </label>
                            <label class="cs-label">
                                <select
                                    class="cs-select"
                                    type="time"
                                    id="time-2147-2251"
                                    name="time-3"
                                    placeholder="Time"
                                >
                                    <option value="morning">Morning</option>
                                    <option value="afternoon">Afternoon</option>
                            </select>
                        </fieldset>
                    </div>
                    <button class="cs-date-input-add-date-button" id="add-date-button">+</button>
                    <label class="cs-label cs-message">
                        <textarea
                            class="cs-input cs-textarea"
                            required
                            name="Message"
                            id="message-2147-2251"
                            placeholder="Message"
                        ></textarea>
                    </label>
                    <div class="cs-button-wrapper">
                        <button class="cs-button-solid cs-submit" type="submit">
                            Schedule Consultation
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
